upstream guacamole {
    server {{ hostvars['desktop_pool']['ansible_host'] }}:8080;
}

server {
    listen 443 ssl;
    ssl_certificate     /etc/ssl/certs/ssl-cert-snakeoil.pem;
    ssl_certificate_key /etc/ssl/private/ssl-cert-snakeoil.key;

    location / {
        proxy_pass http://guacamole/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
