upstream guacamole {
    server {{ hostvars['desktop_pool']['ansible_host'] }}:8080;
}

server {
    listen 80;
    server_name {{ guac_domain | default('_') }};
    location /.well-known/acme-challenge/ {
        root /var/www/html;
    }
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name {{ guac_domain | default('_') }};
    ssl_certificate     /etc/letsencrypt/live/{{ guac_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ guac_domain }}/privkey.pem;

    location / {
        proxy_pass http://guacamole/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
