version: '3'
services:
  guacamole:
    container_name: guacamole_guacamole_1
    image: guacamole/guacamole
    restart: unless-stopped
    environment:
      POSTGRESQL_HOSTNAME: db
      POSTGRESQL_DATABASE: {{ guac_db_name }}
      POSTGRESQL_USER: {{ guac_db_user }}
      POSTGRESQL_PASSWORD: {{ guac_db_password }}
      GUACD_HOSTNAME: guacd
    ports:
      - "8080:8080"
    depends_on:
      - guacd
      - db
  guacd:
    container_name: guacamole_guacd_1
    image: guacamole/guacd
    restart: unless-stopped
  db:
    container_name: guacamole_db_1
    image: postgres:13
    restart: unless-stopped
    environment:
      POSTGRES_DB: {{ guac_db_name }}
      POSTGRES_USER: {{ guac_db_user }}
      POSTGRES_PASSWORD: {{ guac_db_password }}
