---
- hosts: control
  become: yes
  tasks:
    - name: Install Docker
      apt:
        name:
          - docker.io
          - docker-compose
        state: present
        update_cache: yes
    - name: Ensure Docker service is running
      service:
        name: docker
        state: started
        enabled: yes

- hosts: workspace
  become: yes
  tasks:
    - name: Install Wine
      apt:
        name: wine
        state: present
        update_cache: yes

- hosts: desktop_pool
  become: yes
  tasks:
    - name: Install xrdp
      apt:
        name: xrdp
        state: present
        update_cache: yes
    - name: Ensure xrdp is running
      service:
        name: xrdp
        state: started
        enabled: yes
    - name: Setup Guacamole
      block:
        - name: Install Docker
          apt:
            name:
              - docker.io
              - docker-compose
            state: present
            update_cache: yes
        - name: Ensure Docker service is running
          service:
            name: docker
            state: started
            enabled: yes
        - name: Create Guacamole directory
          file:
            path: /opt/guacamole
            state: directory
        - name: Deploy Guacamole docker-compose
          template:
            src: guacamole-docker-compose.yml.j2
            dest: /opt/guacamole/docker-compose.yml
        - name: Launch Guacamole stack
          command: docker-compose up -d
          args:
            chdir: /opt/guacamole
      tags: guacamole

