---
- hosts: control
  become: yes
  tasks:
    - name: Install Docker
      apt:
        name:
          - docker.io
          - docker-compose
        state: present
        update_cache: yes
    - name: Ensure Docker service is running
      service:
        name: docker
        state: started
        enabled: yes

- hosts: workspace
  become: yes
  tasks:
    - name: Install Wine
      apt:
        name: wine
        state: present
        update_cache: yes

- hosts: desktop_pool
  become: yes
  tasks:
    - name: Install xrdp
      apt:
        name: xrdp
        state: present
        update_cache: yes
    - name: Ensure xrdp is running
      service:
        name: xrdp
        state: started
        enabled: yes

